html {
    font-size: 50px;
}

#mobileHeader {
    background: #f6f6f6;
}

#mobileHeader header {
    border-bottom: 1px solid #2db7f5;
}

#mobileHeader header img {
    padding-left: 13px;
    height: 50px;
}

#mobileHeader header span {
    font-size: 35px;
    vertical-align: top;
    padding-left: 10px;
    color: #2db7f5;
}

#mobileHeader header i {
    font-size: 30px;
    color: #2db7f5;
    float: right;
    margin-top: 10px;
    margin-right: 13px;
}
